#all{
    width: 800px;
    height: 50px;

    position:absolute;
    top:50%;
    left:49%;
    margin:-100px -100px -100px -250px;
}
#all1{
    width: 600px;
    height: 50px;
    text-align: center;
    margin-top: 16em;
    position:absolute;
    top:35%;
    left:33%;
    color: #0e99ce;

}