
<!DOCTYPE HTML>
<html>
<head>
<title>录入酒店信息</title>
<link href="../../static/css/registstyle.css" rel="stylesheet" type="text/css" media="all"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Temper Contact Form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link href="../../static/css/addhotel-style.css" rel="stylesheet"/>
<link href="../../static/css/font-awesome1.css" rel="stylesheet"/>
</head>
<body>

		<div class="header">
			<h1 style="color:slategrey">酒店信息</h1>
		</div>


			<div class="main-content" style="opacity:0.7;" >
				<div class="contact-w3">

					<form action="/hotelbackstage/toAddHotel" method="post">
						<label style="color: #00a98f">酒店名：</label>
						<input type="text" name="hotelName" placeholder="请输入酒店名" required="required"/>
						<div class="row">
							<div class="contact-left-w3">
								<label style="color: #00a98f">酒店地址：</label>
									<input type="text" name="hotelAddr" placeholder="请输入酒店的地址" required="required"/>
							</div>
							<div class="contact-right-w3l">
								<label style="color: #00a98f">酒店电话：</label>
								<input type="text" name="hotelPhone" placeholder="请输入酒店的手机号码" required="required"/>
							</div>
							<div class="clear"></div>
						</div>
							

						<input type="submit" value="添加"/>
					</form>
				</div>
			</div>
			
		<div class="footer-w3-agile">
			<p>©2019 .javaEE.1903班二阶段项目| 由五大神组设计 </p>
		</div>


</body>
</html>