<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>酒店后台管理</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/DIV.css"/>
    <link href="../../static/css/hbs.css" rel="stylesheet"/>

</head>
<body>

<div class="header1">
    <h1 style="color:darkseagreen">酒店后台管理</h1>
</div>

        <div class="contact-w3">
        <div ID="all">
        <div style="float: left;margin-right: 180px;background: white">
            <img  style="cursor: pointer;"  src="../../static/images/shangdian.png"
            onclick="window.location.href='/hotelbackstage/toaddhotel'" class="center-block"/>
        </div>

        <div style="float: left ;background: #c7ddef">
            <img  style="cursor: pointer;"  src="../../static/images/zhinengsuo.png"
            onclick="window.location.href='/hotelbackstage/toaddhardware'"/><br/>
        </div>

        </div>
            <div id="all1">
                <div style="float: left;margin-right: 200px;font-size: 30px">录入酒店信息</div>
                <div style="float: left;font-size: 30px">录入硬件信息</div>
            </div>

</div>

</body>
</html>