<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>预定房间</title>
</head>
<body>
    <form action="/order/insertOrder" method="post">
        <table border="1" cellspacing="0">
            <tr >
                <th colspan="2">订单</th>
            </tr>
            <tr>
                <td>酒店名</td>
                <td><input type="text" th:value="${hotelName}"  name="hotelName"/></td>
            </tr><tr>
                <td>房间号</td>
                <td><input type="text" th:value="${roomNum}"  name="roomNum"/></td>
            </tr>
            <tr>
                <td>用户名</td>
               <td><input type="text" name="userName"/></td>
            </tr>
            <tr >


                <td colspan="2">
                    <input type ="submit" value="确定"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>