<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.OrderDao">

   <insert id="insertOrder" parameterType="Order">
       INSERT INTO `order`(
        `user_name`,
        `hotel_name`,
        `room_num`
        )
        VALUES
        (
        #{order.userName},
        #{order.hotelName},
        #{order.roomNum}
        );
   </insert>
    <select id="selectOrderByUserName" resultType="Order">
        SELECT
	      *
        FROM
	      `order` AS a
        WHERE
	      a.user_name = #{userName};
    </select>
    <delete id="deleteOrder">
--  因为创建订单的语句是insert,为了避免数据太多采用删除
        DELETE FROM
	        `order`
        WHERE
	        user_name = #{userName};
    </delete>

</mapper>